@model IEnumerable<MvcRecords.Models.Artist>
@using MvcRecords.Helpers

@{
    ViewBag.Title = "Index";
}

<h2>Wykonawcy</h2>


<p>
    @if (ViewContext.HttpContext.User.IsInRole("Admin"))
    {
        @Html.ActionLink("Dodaj", "Create")
    }

    @using (Html.BeginForm("Index", "Artists", FormMethod.Get))
    {
    <p>
        Kraj pochodzenia: @Html.DropDownList("artistCountry", "Wybierz")
        Wykonawca: @Html.TextBox("SearchString")
        @OwnHelpers.Button("Search")
    </p>
}
    </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            @Html.Partial("_partialIndex", item)
        }

    </table>
